<div class="input-group">
    <input type="text"
           id="{{::id}}"
           name="{{::id}}"
           ng-model="model[options.key]"
           class="form-control"
           ng-click="datepicker.open($event)"
           uib-datepicker-popup="{{to.datepickerOptions.format}}"
           is-open="datepicker.opened"
           datepicker-options="to.datepickerOptions"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default glyphicon glyphicon-calendar"
                    ng-click="datepicker.open($event)" ng-disabled="to.disabled"
                    style="width: 34px;height: 34px">
            </button>
        </span>
</div>