<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 500px;
        height: 350px;
    }
</style>

<div class="col-sm-3 align-right align-top" style="height: 60px">请选择头像</div>
<!--preview-->
<div class="col-sm-2" ng-init="picFile=''">
    <button ngf-select ng-model="picFile" accept="image/*" class="btn btn-info2 btn-round">点击选取</button>
</div>
<div class="col-sm-5">
    <img ng-src="{{croppedDataUrl}}" width="100px" style="border-radius: 50%;">
</div>
<br style="clear: both">
<div ng-show="to.cutArea" class="col-sm-offset-3">
    <div class="cropArea" ng-model="$scope.picFile" ngf-pattern="image/*">
        <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
    </div>

    <div class="btn-group align-right">
        <button class="btn btn-primary btn-round" ng-click="confirmCut()">确定</button>
        <button class="btn btn-danger btn-round" ng-click="cancelCut()">取消</button>
    </div>
</div>


